<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- para el diseño y funcionalidad se usp bootstrap --}}
    <link rel="stylesheet" href="main.css"></link>
    <title>Bsale App</title>
  </head>
  <body class="bg-secondary">
    <div class="container p-2">
      <div class="row">
        {{!-- principal entrada de render enviado por servidor --}}
        {{{body}}}
      </div>
    </div>
  </body>
</html>